.LanguageSelector {
  z-index: 2;

  a {
    display: inline-block;
    padding-left: .5rem;
    padding-right: .5rem;
    color: $navbar-light-color;

    &:hover,
    &:focus {
      color: $navbar-light-hover-color;
      text-decoration: if($link-hover-decoration == underline, none, null);
    }

    &.active {
      color: $navbar-light-active-color;
    }
  }
}
