.navbar {
  top: 0;
  position: sticky;
  padding-top: 1rem;
  z-index: 10;
  // backdrop-filter: blur(8px);
  // background-color: rgba(233, 236, 239, .8);

  .container {
    flex-direction: row-reverse;
    @include media-breakpoint-up(sm) {
    }
  }
}

.navbar-collapse {
  @include media-breakpoint-up(sm) {
    justify-content: flex-end;
  }

  .navbar-nav {
    margin-right: auto;
  }
}

.navbar-expand-sm .navbar-nav .nav-link {
  @include media-breakpoint-up(sm) {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar-backdrop {
  display: none;
}

@include media-breakpoint-down(xs) {
    .navbar-collapse {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 1.5rem;
        padding-top: 6rem;
        width: 82%;
        height: 100vh;
        min-height: 100vh;
        background-color: $body-bg;
        box-shadow: $box-shadow-lg;
    }
    .navbar-collapse.collapsing {
        height: auto;
        transition: left .2s cubic-bezier(0.4, 0.0, 0.2, 1);
        left: -100%;
    }
    .navbar-collapse.show {
        left: 0;
        transition: left .2s cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    .nav-link {
      font-size: 1.5rem;
    }

    .navbar-light .navbar-toggler.navbar-backdrop {
      display: block;
      width: 0;
      padding: 0;
      opacity: 0;
      border: 0;
      border-radius: 0;
      visibility: hidden;
      transition: opacity .2s cubic-bezier(0.4, 0.0, 0.2, 1);
      pointer-events: none;
      left: -100%;

      &:not(.collapsed) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        width: 100%;
        z-index: 0;
        opacity: 0.4;
        visibility: visible;
        pointer-events: all;
      }
    }
}


.navbar-brand {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding-top: 0;
  z-index: 2;

  position: fixed;
  right: -2rem;
  top: 4.75rem;
  line-height: 1;
  transform: rotate(-90deg);
}

.navbar-light .navbar-toggler {

  @include media-breakpoint-up(sm) {
    display: none;
  }

  padding: 0.5rem;
  display: flex;
  border-color: transparent;

  .icon {
    display: inline-block;
    width: 24px;
    height: 3px;
    border-radius: 2px;
    background: var(--theme-ui-colors-black, #000000);
    margin: 10px 0;
    position: relative;
    z-index: 1000;

    &:before, &:after {
      border-radius: 2px;
      height: 3px;
      background: var(--theme-ui-colors-black,#000000);
      content: " ";
      position: absolute;
      left: 0;
      transition: transform 250ms cubic-bezier(.68,-.55,.265,1.55);
    }

    &:before {
      top: -7px;
      width: 20px;
    }
    &:after {
      top: 7px;
      width: 16px;
    }
  }

  &:not(.collapsed) {
    span {
      background: none;

      &:before, &:after {
        top: 0px;
        width: 24px;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
